{{!< layout}}
<header class="aui-page-header">
  <div class="aui-page-header-inner">
    <div class="aui-page-header-main intro-header">
      <h1>Taas Pilot!</h1>
    </div>
  </div>
</header>

<div class="aui-page-panel main-panel">
  <div class="aui-page-panel-inner">
    <section class="aui-page-panel-item">
      <div class="aui-group">
        <div class="aui-item">
          <p>
          </p>
          <p>
            <label for="repository">Git Repositorio</label>
            <input type="text" class="text long-field" id="repository"/>
          </p>
          <p>
            <label for="key">Chave da Tarefa</label>
            <input type="text" class="text long-field" id="key"/>
          </p>
          <p>
            <button class="aui-button aui-button-primary" onclick="POST()">POST<span class="aui-icon aui-icon-small aui-iconfont-devtools-arrow-right">Arrow right</span></button>
          </p>
          <p>
            <div id="resp"> </div>
          </p>
          <p>
            <table class="aui">
                <thead>
                    <tr>
                        <th>Chave da Tarefa</th>
                        <th>Anexos</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
          </p>
        </div>
      </div>
    </section>
  </div>
</div>
