{{!< layout}}
<header class="aui-page-header">
  <div class="aui-page-header-inner">
    <div class="aui-page-header-main intro-header">
      <h1>Taas Pilot!</h1>
    </div>
  </div>
</header>

<div class="aui-page-panel main-panel">
  <div class="aui-page-panel-inner">
    <section class="aui-page-panel-item">
      <div class="aui-group">
        <div class="aui-item">
          <p>
          </p>
          <p>

            <label for="repository">Git Repository</label>
            <input type="text" class="text long-field" id="repository"/>
          </p>
          <p>
            <button class="aui-button aui-button-primary" onclick="POST()">HTTP REQUEST  <span class="aui-icon aui-icon-small aui-iconfont-devtools-arrow-right">Arrow right</span></button>
          </p>
          <p>
            <div id="resp"> </div>
          </p>
        </div>
      </div>
    </section>
  </div>
</div>
